# Outline:
1. Exploration of the Data Sets
2. Analysis
3. Conclusion

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
games = pd.read_csv(r'C:\Users\...\games.csv')
scout = pd.read_csv(r'C:\Users\...\pffScoutingData.csv')
players = pd.read_csv(r'C:\Users\...\players.csv')
plays = pd.read_csv(r'C:\Users\...\plays.csv')

# Exploration of the Data Sets

---

**Games**

In [8]:
print(len(games))
games.head()

122

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr
0,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL
1,2021091200,2021,1,09/12/2021,13:00:00,ATL,PHI
2,2021091201,2021,1,09/12/2021,13:00:00,BUF,PIT
3,2021091202,2021,1,09/12/2021,13:00:00,CAR,NYJ
4,2021091203,2021,1,09/12/2021,13:00:00,CIN,MIN

In [11]:
print(games.homeTeamAbbr.value_counts())

CLE    5
NE     5
TB     4
LA     4
MIN    4
DEN    4
BAL    4
SEA    4
LAC    4
ARI    4
PIT    4
JAX    4
ATL    4
LV     4
CHI    4
NYG    4
TEN    4
BUF    4
CAR    4
DET    4
HOU    4
IND    4
WAS    4
KC     4
PHI    3
NO     3
NYJ    3
MIA    3
CIN    3
GB     3
SF     3
DAL    3
Name: homeTeamAbbr, dtype: int64

In [12]:
print(games.visitorTeamAbbr.value_counts())

PHI    5
CIN    5
MIA    5
GB     5
DAL    4
IND    4
WAS    4
CAR    4
DET    4
KC     4
TEN    4
LA     4
HOU    4
NO     4
NYG    4
TB     4
SEA    4
DEN    4
NYJ    4
ARI    4
SF     4
CHI    4
PIT    3
MIN    3
JAX    3
BAL    3
ATL    3
NE     3
BUF    3
LAC    3
CLE    3
LV     3
Name: visitorTeamAbbr, dtype: int64

In [14]:
print(games.week.value_counts())

1    16
2    16
3    16
4    16
5    16
8    15
6    14
7    13
Name: week, dtype: int64

In [15]:
print(games.gameTimeEastern.value_counts())

13:00:00    65
16:25:00    18
20:20:00    16
16:05:00    13
20:15:00     8
09:30:00     2
Name: gameTimeEastern, dtype: int64

**Scouting data**

In [22]:
print(len(scout))
scout.head()

188254

,gameId,playId,nflId,pff_role,pff_positionLinedUp,pff_hit,pff_hurry,pff_sack,pff_beatenByDefender,pff_hitAllowed,pff_hurryAllowed,pff_sackAllowed,pff_nflIdBlockedPlayer,pff_blockType,pff_backFieldBlock
0,2021090900,97,25511,Pass,QB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021090900,97,35481,Pass Route,TE-L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021090900,97,35634,Pass Route,LWR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021090900,97,39985,Pass Route,HB-R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021090900,97,40151,Pass Block,C,NaN,NaN,NaN,0.0,0.0,0.0,0.0,44955.0,SW,0.0

In [17]:
scout.describe()

,gameId,playId,nflId,pff_hit,pff_hurry,pff_sack,pff_beatenByDefender,pff_hitAllowed,pff_hurryAllowed,pff_sackAllowed,pff_nflIdBlockedPlayer,pff_backFieldBlock
count,1.882540e+05,188254.000000,188254.000000,94127.000000,94127.000000,94127.000000,48087.000000,48087.000000,48087.000000,48087.000000,46526.000000,47903.000000
mean,2.021098e+09,2159.218418,45723.528956,0.008956,0.030565,0.006396,0.040427,0.011313,0.043317,0.007694,45178.814340,0.041939
std,4.970192e+03,1222.723324,5016.112999,0.094212,0.172137,0.079717,0.196960,0.105760,0.203573,0.087380,4836.928925,0.200452
min,2.021091e+09,54.000000,25511.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,33131.000000,0.000000
25%,2.021092e+09,1127.000000,42445.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,42401.000000,0.000000
50%,2.021100e+09,2156.000000,45339.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,44877.000000,0.000000
75%,2.021102e+09,3196.000000,48053.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,47832.000000,0.000000
max,2.021110e+09,5223.000000,54038.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,53999.000000,1.000000

**Players**

In [23]:
print(len(players))
players.head()

1679

,nflId,height,weight,birthDate,collegeName,officialPosition,displayName
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,28963,6-5,240,1982-03-02,"Miami, O.",QB,Ben Roethlisberger
2,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters
3,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers
4,30078,6-2,228,1982-11-24,Harvard,QB,Ryan Fitzpatrick

In [20]:
players.describe()

              nflId       weight
count   1679.000000  1679.000000
mean   46473.371054   246.182251
std     5041.682488    47.364651
min    25511.000000   158.000000
25%    43295.500000   205.000000
50%    46167.000000   236.000000
75%    52451.500000   292.000000
max    54038.000000   380.000000

**Plays**

In [24]:
print(len(plays))
plays.head()

8557

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,...,foulNFLId3,absoluteYardlineNumber,offenseFormation,personnelO,defendersInBox,personnelD,dropBackType,pff_playAction,pff_passCoverage,pff_passCoverageType
0,2021090900,97,(13:33) (Shotgun) T.Brady pass incomplete deep...,1,3,2,TB,DAL,TB,33,...,NaN,43.0,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-1,Man
1,2021090900,137,(13:18) (Shotgun) D.Prescott pass deep left to...,1,1,10,DAL,TB,DAL,2,...,NaN,108.0,EMPTY,"1 RB, 2 TE, 2 WR",6.0,"4 DL, 4 LB, 3 DB",TRADITIONAL,0,Cover-3,Zone
2,2021090900,187,(12:23) (Shotgun) D.Prescott pass short middle...,1,2,6,DAL,TB,DAL,34,...,NaN,76.0,SHOTGUN,"0 RB, 2 TE, 3 WR",6.0,"3 DL, 3 LB, 5 DB",TRADITIONAL,0,Cover-3,Zone
3,2021090900,282,(9:56) D.Prescott pass incomplete deep left to...,1,1,10,DAL,TB,TB,39,...,NaN,49.0,SINGLEBACK,"1 RB, 2 TE, 2 WR",6.0,"4 DL, 3 LB, 4 DB",TRADITIONAL,1,Cover-3,Zone
4,2021090900,349,(9:46) (Shotgun) D.Prescott pass incomplete sh...,1,3,15,DAL,TB,TB,44,...,NaN,54.0,SHOTGUN,"1 RB, 1 TE, 3 WR",7.0,"3 DL, 4 LB, 4 DB",TRADITIONAL,0,Cover-3,Zone

In [21]:
plays.describe()

,gameId,playId,quarter,down,yardsToGo,yardlineNumber,preSnapHomeScore,preSnapVisitorScore,penaltyYards,prePenaltyPlayResult,playResult,foulNFLId1,foulNFLId2,foulNFLId3,absoluteYardlineNumber,defendersInBox,pff_playAction
count,8.557000e+03,8557.000000,8557.000000,8557.000000,8557.000000,8557.000000,8557.000000,8557.000000,756.000000,8557.000000,8557.000000,736.000000,30.000000,1.0,8556.000000,8550.000000,8557.000000
mean,2.021098e+09,2159.218418,2.617974,1.966694,8.724319,29.906509,11.665303,11.264462,3.534392,6.500993,6.563983,45713.957880,47194.866667,46190.0,59.247195,6.022339,0.238168
std,4.970470e+03,1222.791529,1.132325,0.872915,3.913073,12.507675,9.816987,10.025415,11.620723,10.195513,10.611263,4839.306151,3523.955494,NaN,23.658446,1.005467,0.425987
min,2.021091e+09,54.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-18.000000,-34.000000,-34.000000,30869.000000,40107.000000,46190.0,11.000000,1.000000,0.000000
25%,2.021092e+09,1127.000000,2.000000,1.000000,6.000000,22.000000,3.000000,3.000000,-5.000000,0.000000,0.000000,42460.000000,44968.500000,46190.0,40.000000,5.000000,0.000000
50%,2.021100e+09,2156.000000,3.000000,2.000000,10.000000,30.000000,10.000000,10.000000,4.000000,4.000000,5.000000,45571.000000,46167.000000,46190.0,59.000000,6.000000,0.000000
75%,2.021102e+09,3196.000000,4.000000,3.000000,10.000000,40.000000,17.000000,17.000000,11.250000,10.000000,11.000000,47929.000000,48082.500000,46190.0,79.000000,7.000000,0.000000
max,2.021110e+09,5223.000000,5.000000,4.000000,39.000000,50.000000,54.000000,44.000000,50.000000,91.000000,91.000000,53957.000000,53679.000000,46190.0,109.000000,11.000000,1.000000